        </ul>
      </nav>
    </header>
  <script src="js/navbar.js" charset="utf-8"></script>
  <script src="js/functions.js" charset="utf-8"></script>
  <!-- <script src="js/logout.js" charset="utf-8"></script> -->
