<link rel="stylesheet" href="css/cabecalho.css"/>
</head>
<body>
<header class="cabecalho" id='test'>
  <nav>
    <ul>
      <li class="atalho">
        <a href="index.php">
          <img src="svg/home.svg" alt="" class="icone">
          <span class="texto">Início</span>
        </a>
      </li>
