.cabecalho{
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100%);
  height: 10vh;
  background-color: #77B3D9;
  z-index: 100;
}

.cabecalho nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  /* background-color: #ff0; */
}

.cabecalho nav ul{
  position: absolute;
  top: 0;
  right: 0;
  /* width: calc(15vw * 5); */
  height: 100%;
  /* display: flex; */
  /* background: #00f; */
}

.cabecalho nav ul .atalho{
  /* position: absolute; */
  /* top: 0;? */
  /* right: calc(100vw - calc(15vw * 4)); */
  /* right: 15vw; */
  /* left: calc(calc(100vw - calc(15vw * 5)) - 7px); */
  width: 15vw;
  height: 100%;
  display: inline-block;
  background-color: #1A4A73;
  color: #fff;
  border-right: 2px solid #fff;
  text-align: center;
}


.cabecalho nav ul .atalho a{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #1A4A73;
  color: #fff;
  font-size: 4vh;
  line-height: 10vh;
  text-decoration: none;
  background-color: #2E5159;
  text-align: center;
  /* z-index: 1000; */
  /* overflow: hidden; */
}

.cabecalho nav ul .atalho a .icone{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  /* width: 100%; */
  /* display: inline-block; */
  /* background-color: #f0f; */
  color: #000;
}

.atalho a .texto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* line-height: 10vh; */
  font-size: 0vh;
  /* width: 100%; */
  /* display: inline-block; */
  /* background-color: #f0f; */
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  /* overflow: hidden; */
}

.atalho:hover a .icone{
  opacity: 0;
  /* transition: 300ms; */
  animation: anm 300ms;
}

.atalho:hover a .texto{
  font-size: 3vh;
  transition: 300ms;
}

@keyframes anm {
    0%{
      opacity: 1;
      height: 70%;
    }
    50%{
      height: 20%;
    }
    100%{
      opacity: 0;
      height: 0;
    }
}
