body{
  position: absolute;
  background: #77B3D9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  /* min-width: 20vh; */
  height: 60%;
  background: #00f;
  display: grid;
  grid-template-areas:  "um"
                        "um"
                        "um"
                        "dois"
                        "dois"
                        "dois"
                        "tres"
                        "quatro"
                        "quatro"
                        "quatro";
}

.um{
  position: absolute;
  grid-area: um;
  background: #f0f;
  /* height: 50%; */
  /* width: 100%; */
}

.dois{
  grid-area: dois;
  background: #0ff;
}

.tres{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  grid-area: tres;
  background: #ff0;
}

.quatro{
  grid-area: quatro;
  background: #f00;
  /* opacity: 0;/ */
}

.input{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #0ff; */
}

/* #login .input:nth-child(3){
  margin-top: 15%;
} */

.input input{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 50%;
  display: block;
  font-size: 2vh;
}

.input input[type=submit]{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 50%;
  /* display: block; */
  font-size: 2vh;
}


#login label, #login a{
  position: relative;
  top: 0;
  left: 0;
  font-size: 2vh;
  color: #000;
  display: block;
  background: #0f0;
}
