#spnSubmit{
  position: absolute;
  top: calc(50% - 25px);
  left: calc(100% - 75px);
  width: 50px;
  height: 50px;

  border-radius: 50%;
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-top: 3px solid white;
  border-bottom: 3px solid white;

  background: #ff0;
  opacity: 0;
}

#spnSubmit.loading{
  opacity: 1;
  animation: anm 2s infinite;
}

@keyframes anm {
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
}

.notify{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 50%;
  display: block;
  font-size: 2vh;
  background: #ff0;
  opacity: 0;
}

.notify.empty{
  opacity: 1;
}

#spnCod.notFound{
  opacity: 1;
}

#spnSenha.doesNotMatch{
  opacity: 1;
}
