.menu{
  position: absolute;
  top: 0;
  right: 0;
  width: 15vw;
  height: 100%;
  display: inline-block;
  background-color: #1A4A73;
  color: #fff;
  border-right: 2px solid #fff;
  text-align: center;
  font-size: 0vh;
  /* line-height: 10vh; */
  cursor: pointer;
  overflow: hidden;
  text-transform: uppercase;
}

.menu .btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  color: #000;
}

.menu .titulo{
  position: absolute;
  top: calc(5vh - 1.25vw);
  left: 50%;
  width: 2.5vw;
  transform: scale(0) translateX(-50%);
  /* opacity: 0; */
  /* height: 100%; */
  /* line-height: 10vh; */
  /* text-align: center; */
  /* color: #fff; */
  /* font-size: 0; */
}

.menu.active .titulo{
  /* height: auto; */
  opacity: 1;
  /* transition: ms; */
  transform: translateX(-50%) scale(1);
}

.menu .botoes{
  position: relative;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 30vh;
  background-color: #f0f;
}

.menu .botoes .opcao{
  position: relative;
  top: 0;
  left: 0;
  /* transform: translate(0, 0); */
  width: 100%;
  height: 10vh;
  background-color: #1A4A73;
  color: #fff;
  font-size: 2vh;
  /* line-height: 10vh; */
  opacity: 0;
  background-color: #2E5159;
  display: block;
}

.menu .opcao .texto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* line-height: 10vh; */
  font-size: 0vh;
  /* width: 100%; */
  /* display: inline-block; */
  /* background-color: #f0f; */
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  /* overflow: hidden; */
}

.menu .opcao .icone{
  position: absolute;
  width: 20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.menu.active{
  height: 40vh;
}

.menu.active .opcao{
  opacity: 1;
  display: block;
}

.menu.active .btn{
  /* animation: anm 300ms; */
  opacity: 0;
}

/*Animações*/
.menu .opcao:hover .icone{
  animation: anm 300ms;
  opacity: 0;
}

.menu .opcao:hover .texto, .menu .opcao:hover .texto{
  font-size: 3vh;
  transition: 300ms;
}

@keyframes anm {
    0%{
      opacity: 1;
      height: 70%;
    }
    50%{
      height: 20%;
    }
    100%{
      opacity: 0;
      height: 0;
    }
}
