*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body{
  /* background: linear-gradient(to right, #B4CBD9, #77B3D9, #77B3D9, #77B3D9, #77B3D9,#B4CBD9); */
  background: #77B3D9;
}

main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: grid;
  /* color: #fff; */
}

.dados{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;

  width: 98%;
  height: 98%;

  background: rgba(0, 0, 0, 0.2);
  border-radius: 5vw;

  /* background-color: #fff; */
}

.btn{
  height: 3vw;
  background: #fff;
  z-index: 1000;
  border-radius: 1.5vw;
  outline: none;
  font-size: 1.1vw;
}

.btnEdit{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3vw;
  display: none;
}

.btnSave{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5vw;
  display: none;
}

.btnDiscard{
  position: absolute;
  bottom: 0;
  right: 6vw;
  width: 5vw;
  display: none;
}

.btnEdit img{
  width: 60%;
}

.btnActive{
  display: block;
}

.usuario{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #f0f; */
}

.imgContainer{
  position: absolute;
  top: -1px;
  left: -1px;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: #ff0;
  overflow: hidden;
}
#setProfilePic{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  /* background-color: #0ff; */
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

#setProfilePic[disabled]{
  cursor: default;
}

#profilePic{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  background-color: #0ff;
  z-index: 1;
}

input{
  background: none;
  border: none;
  border-bottom: 1px solid black;
  background: #f1f1f1;
  color: #333;
  overflow: scroll;
}

input[disabled] {
  background: none;
}

/* .informacoes input{
  position: relative;
  top: 10vw;
  left: 11vw;
  width: calc(100% - 11vw);
  display: block;
} */

.nome, .endereco{
  position: relative;
  top: calc(5vw - 2vw);
  left: 11vw;
  width: calc(100% - 12vw);
  display: block;
}

.nome{
  height: 4vw;
  /* border-radius: 1vw 1vw 0 0; */
  font-size: 2.4vw;
  line-height: 8vh;
}

.endereco{
  height: 2vw;
  font-size: 1.2vw;
  line-height: 8vh;
  /* border-radius: 0 0 1vw 1vw; */
}

.informacoes{
  position: absolute;
  top: 11vw;
  left: 1vw;
  width: calc(100% - 2vw);
}

.informacoes input{
  display: block;
  width: 100%;
  height: 6vh;
  outline: none;
}

input:focus{
  outline: none;
}

.voos, .cartoes{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-column-start: 4;
  grid-column-end: 5;

  width: 98%;
  height: 96%;
}
.voos{
  /* position: absolute; */
  grid-row: 1;
  border-radius: 2vw 2vw 0 0vw;

  background: rgba(155, 155, 0, 0.2);
}

.meusVoos{
  position: absolute;
  top: 5vh;
  left: 0;
  width: 100%;
  height: calc(100% - 10vh);
  padding: 1vw 1vh;
  overflow-y: scroll;
}

.voo{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  display: block;
  background-color: #0f0;
  margin-bottom: 1vh;
}

.nomeVoo{
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: #0ff;
  font-size: 2.5vh;
  line-height: 8vh;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.dataPartida{
  position: absolute;
  top: 0;
  left: 60%;
  width: 20%;
  height: 100%;
  background-color: #f0f;
  font-family: 'Orbitron', sans-serif;
  font-size: 2.40vh;
  line-height: 8vh;
  text-align: center;
}
.dataChegada{
  position: absolute;
  top: 0;
  left: 80%;
  width: 20%;
  height: 100%;
  background-color: #ff0;
  font-family: 'Orbitron', sans-serif;
  font-size: 2.40vh;
  line-height: 8vh;
  text-align: center;
}

.cartoes{
  position: absolute;
  grid-row: 2;
  border-radius: 2vw 2vw 0 0vw;

  background: rgba(155, 0, 155, 0.2);

}

.cartoes h3, .voos h3{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  height: 5vh;
  line-height: 5vh;
}

.meusCartoes{
  position: absolute;
  top: 5vh;
  left: 0;
  width: 100%;
  height: calc(100% - 10vh);
  padding: 1vw 1vh;
  overflow-y: scroll;
  /* box-shadow: inset 3px 3px 3px #333; */
}

.cartao{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 10.8vh;
    background-color: #f0f;
    margin-bottom: 1vh;
}

.cartao .miniatura{
  position: absolute;
  top: 0;
  left: 0;
  width: 17.2vh;
  height: 100%;
  background-color: #0ff;
}

.cartao .num{
  position: absolute;
  top: 0;
  left: 17.2vh;
  height: 60%;
  width: calc(100% - 17.2vh);
  line-height: calc(10.8vh * 0.6);
  font-size: 2.4vh;

  background-color: #fff;
}

.cartao .detalhes{
  position: absolute;
  top: 60%;
  left: 17.2vh;
  height: 40%;
  width: calc(100% - 17.2vh);
  line-height: calc(10.8vh * 0.4);
  font-size: 2.2vh;
  background-color: #ddd;
}

.notificacoes{
  position: absolute;
  bottom: 1vh;
  left: 1vw;
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  overflow: hidden;
}

.notificacoes img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

}
